<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body>
     <h1>URL Shortener:</h1>
    <% if (locals.id) {%>
        <p>Generated URL: http://localhost:8001/url/<%= id %></p>
        
   <% } %>
   
    <form method="POST" action="/url">
        <label>Enter Url:</label>
        <input type="text" name="url" placeholder="http://example.com"/>
        <button type="submit">Genrate</button>
    </form>
    <% if(locals.urls) { %>
        <table border="1">
            <tr>  
            <th>Sr No.</th>
            <th>Short ID</th>
            <th>Redirect URL</th>
            <th>Total Clicks</th>
            </tr>
             <% urls.forEach((url,index) => { %>
            <tr> 
                <td><%= index+1 %></td>
                <td><%= url.ShortId %></td>
                <td><%= url.redirectURL %></td>
                <td><%= url.visitedHistroy.length %></td>
            </tr>       
              <% }); %>
  
        </table>
        <% } %>
   
</body>
</html>